[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "sigPCA"]
	path = sigPCA
	url = https://github.com/guillermodeandajauregui/sigpca
